@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;200;400;600&display=swap");

* {
  box-sizing: border-box;
  font-family: "Work Sans";
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< HEADER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.header {
  background: #1e2326;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.section-header {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.logo img {
  height: 30px;
  padding: 0;
  margin: 0;
}

.header .section-header ul {
  display: flex;
}

.section-header nav ul li a {
  text-align: none;
  color: #fff;
  margin: 0 15px;
  padding: 3px;
  transition: 0.5s;
  text-decoration: none;
}

.section-header nav ul li a:hover {
  color: #2874a6;
}

.nav-responsive {
  background-color: #2874a6;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< MAIN >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* <<<<<<<<<<<<<<<<<<<<<<<< INICIO >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.inicio {
  background: linear-gradient(
      to top,
      rgba(30, 35, 48, 0.8),
      rgba(30, 35, 38, 1)
    ),
    url(/Imgs/fondo.jpg);
  background-size: cover;
  min-height: 100vh;
  max-height: 200vh;
  color: #fff;
  display: flex;
  align-items: center;
}

.inicio .contenido-banner {
  padding: 20px;

  background-color: #1e2326;
  max-width: 350px;
  min-width: auto;

  margin: auto;
  text-align: center;
  border-radius: 40px;
}

.inicio .contenido-banner img {
  margin-top: 40px;
  border: 10px solid #2874a6;
  display: block;
  width: 80%;
  margin: auto;
  border-radius: 100%;
}

.inicio .contenido-banner h1 {
  margin-top: 40px;
  font-size: 35px;
  font-family: "Righteous";
}

.inicio .contenido-banner h2 {
  font-size: 22px;
  font-weight: normal;
  margin-top: 10px;
  color: #2874a6;
}

/* <<<<<<<<<<<<<<<<<<<<<<<< SOBRE MÍ >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.sobreMi {
  background-color: #1e2326;
  color: #fff;
  padding: 50px 20px;
  height: auto;
}

.sobreMi .contenido-sobreMi {
  max-width: 1100px;
  margin: auto;
}

.sobreMi h2 {
  font-size: 48px;
  font-family: "Righteous";
  text-align: center;
  padding: 20px 0;
}

.sobreMi .contenido-sobreMi p {
  font: 18px;
  line-height: 50px;
  margin-bottom: 20px;
}

.sobreMi .contenido-sobreMi p span {
  color: #2874a6;
  font-weight: bold;
}

.sobrei .fila {
  display: flex;
  align-items: center;
}

.sobreMI .fila .contenedor-skills {
  width: 50%;
}

.download-cv {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #fff;
  width: fit-content;
  display: block;
  margin: 0 auto;
  padding: 10px 22px;
  font-size: 16px;
  color: #fff;
  position: relative;
  z-index: 10;
  text-align: center;
}

.download-cv .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #2874a6;
  z-index: -1;
  transition: 1s;
}

.download-cv:hover .overlay {
  width: 100%;
}

.fila h3 {
  margin-top: 50px;
  font-size: 28px;
  font-family: "Righteous";
  margin-bottom: 25px;
  text-align: center;
}

.fila .contenedor-skills {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.fila .contenedor-skills .skills {
  width: 100px;
  height: 100px;
  background-color: #252a2e;
  border-radius: 10px;
  margin: 0 15px 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.contenedor-skills .skills {
  transition: background-color 0.5s ease;
}

.fila .contenedor-skills .skills i {
  font-size: 30px;
  margin-bottom: 10px;
}

.fila .contenedor-skills .skills:hover {
  background-color: #2874a6;
}

.fila .contenedor-skills .skills.highlighted {
  background-color: #2874a6;
  transition: background-color 1.5s cubic-bezier(0.5, 0, 0.5, 1),
    /* Disminuir la intensidad */ background-color 1.5s
      cubic-bezier(0.5, 0, 0.5, 1); /* Aumentar la intensidad */
}

/* <<<<<<<<<<<<<<<<<<<<<<<<  PROYECTOS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.proyectos {
  background-color: #252a2e;
  height: auto;
  color: #fff;
  padding: 50px 20px;
}

.proyectos .contenido-proyectos {
  max-width: 1100px;
  margin: auto;
}

.proyectos h2 {
  font-size: 48px;
  font-family: "Righteous";
  text-align: center;
  padding: 20px 0;
}

.proyectos .galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.proyectos .galeria .proyecto {
  position: relative;
  max-width: 500px;
  height: fit-content;
  margin: 10px;
  cursor: pointer;
}

.proyectos .galeria .proyecto img {
  width: 100%;
  display: block;
  border-radius: 20px;
  border: 3px solid #000;
}

.proyectos .galeria .proyecto .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: linear-gradient(rgba(28, 182, 152, 0.8) rgba(28, 182, 152, 0.8));
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
  font-size: 18px;
  letter-spacing: 3px;
  opacity: 0;
  border-radius: 18px;
}

.proyectos .galeria .proyecto .overlay h3 {
  margin-bottom: 20px;
  transition: 1s;
  color: #2874a6;
  font-size: 35px;
}

.proyectos .galeria .proyecto .overlay p {
  margin-bottom: 20px;
  font-size: 25px;
}

.proyectos .galeria .proyecto .overlay:hover {
  opacity: 1;
}

.proyectos .galeria .proyecto .overlay:hover h3 {
  margin-bottom: 0px;
}

.proyectos .galeria .proyecto .overlay {
  /* ... otros estilos ... */
  opacity: 0; /* Inicialmente oculto */
  background-color: rgba(0, 0, 0, 0); /* Fondo transparente */
  transition: opacity 0.8s ease, background-color 0.8s ease; /* Transiciones */
}

.proyectos .galeria .proyecto:hover .overlay {
  opacity: 1; /* Mostrar el overlay al hacer hover */
  background-color: rgba(23, 22, 22, 0.888); /* Fondo negro con opacidad */
}

.proyecto .overlay .webGit {
  display: flex;
  justify-content: space-around;
}

.proyecto .overlay .webGit .liWebGit {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 20px;
}

.proyecto .overlay .webGit .liWebGit i {
  font-size: 30px;
  color: #ffffff;
}
.proyecto .overlay .webGit .liWebGit a {
  font-size: 25px;
  color: #2874a6;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<  CONTACTO >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.contacto {
  background-color: #1e2326;
  color: #fff;
  padding: 50px 20px;
  height: auto;
}

.contacto .contenido-contacto {
  max-width: 1100px;
  margin: auto;
}

.contacto h2 {
  font-size: 48px;
  font-family: "Righteous";
  text-align: center;
  padding: 20px 0;
}

.contacto .fila {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contacto .col {
  width: 50%;
  padding: 10px;
  position: relative;
}

.contacto .col input,
.contacto .col textarea {
  display: block;
  width: 100%;
  padding: 18px;
  border: none;
  margin-bottom: 20px;
  background-color: #252a2e;
  color: #fff;
  font-size: 18px;
  resize: none;
}

.contacto button {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #fff;
  width: fit-content;
  display: block;
  margin: auto;
  padding: 10px 22px;
  font-size: 16px;
  color: #fff;
  position: relative;
  z-index: 10;
  text-align: center;
}

.contacto button .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #2874a6;
  z-index: -1;
  transition: 1s;
}

.contacto button:hover .overlay {
  width: 100%;
}

.iconos-contactos {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.contenido-contacto .fila .col2 {
  width: 100%;
  margin-top: 40px;
}

.contenido-contacto .fila .col2 .iconos-contactos li {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  text-align: center;
}

.iconos-contactos a {
  text-decoration: none;
  color: rgba(81, 79, 79, 0.944);
  font-size: 20px;
}

.iconos-contactos i {
  font-size: 50px;
}

.iconos-contactos a:hover {
  color: rgba(201, 197, 197, 0.89);

  animation: circulo 1s forwards;
}

@keyframes circulo {
  0% {
    transform: scale(1); /* Tamaño normal */
  }
  50% {
    transform: scale(1.2); /* Tamaño aumentado */
  }
  100% {
    transform: scale(1.2); /* Volver al tamaño normal */
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

footer {
  background-color: #252a2e;
  color: #fff;
  padding: 15px 0 15px 0;
  text-align: center;
  position: relative;
  width: 100%;
}

footer p span {
  color: #2874a6;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< RESPONSIVE >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media screen and (max-width: 980px) {
  nav {
    display: none;
  }

  .nav-responsive {
    display: block;
  }

  nav.responsive {
    display: block;
    position: absolute;
    right: 0;
    top: 75px;
    background-color: #252a2e;
    width: 180px;
  }

  nav.responsive ul {
    display: block !important;
  }

  nav.responsive ul li {
    border-bottom: 1px solid #fff;
    padding: 10px 0;
  }
}

@media screen and (max-width: 700px) {
  .sobreMi {
    height: 100%;
  }
  .sobreMi .contenido-sobreMi p {
    line-height: 25px;
  }
  .sobreMi .fila {
    display: block;
  }

  .sobreMi .fila .contenedor-skills {
    width: fit-content;
  }

  .fila .skills {
    display: block;
  }
  .contenedor-skills {
    width: 100%;
  }

  .contacto .col input,
  .contacto .col textarea {
    font-size: 20px;
    text-align: center;
  }
  .iconos-contactos {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 425px) {
  .inicio .contenido-banner {
    width: 200px;
  }
  .inicio .contenido-banner h1 {
    font-size: 20px;
  }
  .inicio .contenido-banner h2 {
    font-size: 17px;
  }

  .proyecto .overlay .webGit .liWebGit {
    gap: 2px;
    padding: 0;
    margin: 0;
  }

  .proyecto .overlay .webGit .liWebGit i {
    font-size: 20px;
  }
  .proyecto .overlay .webGit .liWebGit a {
    font-size: 15px;
  }

  .proyectos .galeria .proyecto .overlay h3 {
    font-size: 20px;
  }
  .proyectos .galeria .proyecto .overlay p {
    font-size: 15px;
  }

  .iconos-contactos a {
    font-size: 15px;
  }
  .iconos-contactos i {
    font-size: 30px;
  }
  .contacto .col input,
  .contacto .col textarea {
    font-size: 8.5px;
  }
}
